# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# MinIO / AWS S3 Compatible
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# Airflow specific
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# App Ports (Optional overrides)
# APP_PORT=7860
# MLFLOW_PORT=5001
# AIRFLOW_PORT=8080
# MINIO_PORT=9000
# MINIO_CONSOLE_PORT=9001
